.self {
  display: flex;
  align-items: center;
  justify-content: center;
}

.greeting {
  position: relative;
  width: 400px;
  text-align: center;
}

.greeting h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 0;
  position: absolute;
  transform: translateY(-50%);
}

.enter {
  opacity: 0.01;
  transform: translateY(-50%) translateX(200px) !important;
}

.enterActive {
  opacity: 1;
  transform: translateY(-50%) !important;
  transition: transform 300ms ease-in, opacity 300ms ease-in;
  position: absolute;
}

.leave {
  opacity: 1;
  transform: translateY(-50%) !important;
}

.leaveActive {
  opacity: 0.01;
  transform: translateY(-50%) translateX(-200px) !important;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
  position: absolute;
}

.appear {
  opacity: 0.01;
  transform: translateY(-50%) translateX(200px) !important;
}

.appearActive {
  transition: transform 300ms ease-in, opacity 300ms ease-in;
  opacity: 1;
  transform: translateY(-50%) !important;
  position: absolute;
}
